* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #f5f5f5;
  padding: 40px 20px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  max-width: 384px;
  height: 384px;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.carousel-header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 8px 16px;
}

.carousel-header-content {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 150px;
  height: 36px;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid transparent;
}

.carousel-header-content:hover {
  background-color: #f5f5f5;
  border: 1px solid #2049df;
}

.carousel-header-icon {
  aspect-ratio: 1 / 1;
  width: 24px;
  flex-shrink: 0;
}

.carousel-header-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  height: 20px;
}

.carousel-wrapper {
  box-sizing: content-box;
  width: 100%;
  height: 246px;
  padding: 8px 0px;
}

.carousel-slide {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carousel-track {
  width: 100%;
  display: flex;
}

.slide-content {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.game-container {
  width: 160px;
}

.game-wrapper {
  position: relative;
  width: 160px;
  height: 172px;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-content-title {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-description {
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-genre {
  font-size: 14px;
  font-weight: 300;
}

.carousel-indicators {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-controls {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0px 12px;
}

.next-btn,
.prev-btn {
  border: 1px solid transparent;
}

.next-btn:hover,
.prev-btn:hover {
  border: 1px solid #2049df;
}

.carousel-indicators-view {
  display: flex;
  justify-content: center;
  width: 40px;
  font-size: 18px;
}

.current-index {
  font-weight: 600;
}

.total-pages {
  font-weight: 400;
}
